body {
    background-color: #eae2b7;
    padding-right: 3%;
    padding-left: 3%;
    color: #04344b;
}

.text {
    color: #04344b;
}

.navigationBar {
    background-color: #fbbb4c;
    color: #d42d2c;
}

.inputBox {
    border-color: #d42d2c;
    border-width: 3px;
    border-right: 0px;
}

.buttons {
    background-color: #04344b;
    border-color: #d42d2c;
    border-width: 3px;
    color: #fbbb4c;
}

.buttons:hover {
    background-color: #d42d2c;
    border-color: #04344b;
    border-width: 3px;
    color: #fbbb4c;
}


.button2 {
    background-color: #d42d2c;
    border-color: #04344b;
    border-width: 3px;
    color: #fbbb4c;
}

.button2:hover {
    background-color: #fbbb4c;
    border-color: #d42d2c;
    border-width: 3px;
    color: #04344b;
}


#messagePane {
    background-color: #FCBF49;
}

.join_room_response,
.left_room_response {
    background-color: rgb(247, 247, 247);
}

.chat_message {
    font-size: 125%;
    margin: 1px 1px 1px 1px;
    color: rgb(0, 0, 0);
}

table#game_board {
    border: 4px solid #7f7f7f;
    margin: 0px;
    padding: 0px;
}

table#game_board td {
    background-color: #FCBF49;
    border: 1px solid #7f7f7f;
    margin: 0px;
    padding: 0px;
}

td.hovered_over:hover {
    background-image: url('/assets/images/hover.gif');
}

.timer {
   background-color: #d42d2c; 
   color: #fbbb4c;
}

.nameInput {
    background-color: #fbbb4c;
    border-color: #d42d2c;
    border-width: 3px;
    color: #04344b;
}
